# Rider and Visual Studio directories
.idea/
.vs/
.vscode/

# Build directories
bin/
obj/

# NuGet packages
packages/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider project files
*.iml
*.ipr
*.iws

# Logs
*.log

# DotCover
*.dotCover

# ReSharper
_ReSharper*/
*.DotSettings.user

# Publish outputs
publish/

# Others
*.DS_Store
